<footer class="footer">
<div id=leftpart>
  <p>Copyright © Charlotte Cricket Club</p>
</div>
<div class=rightpart id="contactLink">
  <a href="/contact">Contact</a>
    <!-- <p> Contact us on</p> -->
  </div>
  <div class=rightpart>
    <img class="footer-Image" src="/assets/images/twitter.jpg" alt="twitterlogo">
    <img class="footer-Image" src="/assets/images/insta.jpeg" alt="instalogo">
    <img class="footer-Image" src="/assets/images/fb.jpeg" alt="fblogo">
  </div>
</footer>
