<header class="header">

  <a href="/index" class="logo"><img  alt="cricket Logo" src="/assets/images/logo524.JPG" width="100" height="100"></a>
  <h1>Charlotte Cricket Club</h1>
  <div class="header-right">
    <a class="border-right" href="/newConnection" >Start a New Connection</a>
    <a class="border-right" href="/login">Login</a>
    <a class="border-right" href="/signUp">Sign Up</a>
</div>
</header>
