<nav>
<ul id="nav">
  <li><a href="/index">Home</a></li>
  <li><a href="/connections">Connections</a></li>
  <li><a href="/about">About</a></li>
  <li id="placeHolder"><% if(session!=undefined){ %>
      <%= session.firstName %>	&nbsp;   <%= session.lastName %>
    <% } else { %>
      No User Logged In
    <% } %></li>

</ul>
</nav>
